--extra-index-url https://download.pytorch.org/whl/cpu

jupyterlab
ipykernel
ipywidgets
ipympl

numpy
scipy
sympy
pandas
matplotlib
plotly
networkx
pillow
scikit-image
scikit-learn
statsmodels

shapely
trimesh
gudhi
ripser
persim
pyriemann
POT
geomloss
opencv-python-headless
pyvista[jupyter]
jupyter-server-proxy

torch==2.7.0+cpu
torchvision==0.22.0+cpu
